# .coveragerc to control coverage.py
[run]
source = qbittorrentapi
omit = qbittorrentapi/_attrdict.py
branch = True

[report]
show_missing = True
skip_covered = True
exclude_lines =
    # search categories was deprecated
    class SearchCategoriesList
    def search_categories
    # defaults to exclude
    pragma: no cover
    def __repr__
    if self.debug:
    if settings.DEBUG
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:

[html]
skip_empty = True
