name: Create Release

on:
  push:
    tags:
      - 'v*'

jobs:
  ci:
    name: CI
    uses: ./.github/workflows/ci.yml
    secrets: inherit
    with:
      attest: "true"
      run-dev-tests: "false"

  release:
    name: Create Release
    needs: ci
    if: always()
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write  # required for trusted publishing
    steps:
      - name: Set Build Variables
        id: build-vars
        run: echo "version=${GITHUB_REF_NAME#v}" >> ${GITHUB_OUTPUT}

      - name: Set up Python
        uses: actions/setup-python@v6.1.0
        with:
          python-version: 3.x

      - name: Get packages
        uses: actions/download-artifact@v7.0.0
        with:
          name: Packages
          path: dist

      - name: Create release
        uses: ncipollo/release-action@v1.20.0
        with:
          name: release-${{ steps.build-vars.outputs.version }}
          draft: true
          artifacts: dist/*
          artifactErrorsFailBuild: true

      - name: Publish release to Test PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          repository-url: https://test.pypi.org/legacy/
